services:
- type: worker
  name: 7940_Bot
  runtime: docker
  repo: https://github.com/fofuhua/7940_Bot
  plan: starter
  envVars:
  - key: OPENAI_API_KEY
    sync: false
  - key: TELEGRAM_TOKEN
    sync: false
  - key: DATABASE_URL
    sync: false
  region: singapore
  dockerContext: .
  dockerfilePath: ./Dockerfile
version: "1"
